.aboutPage {
    display: flex;
    flex-direction: row;
    margin: 1rem;

    .logoDiv {
        width: 50%;

        img {
            width: 100%;
            height: 100%;
            margin: auto;
        }
    }

    .about {
        width: 50%;
        margin: auto;

        button {
            border: none;
            padding: 1rem 1.5rem;
            background-color: #007DFC;
            color: white;
            border-radius: 2px;

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }

    }
}